@font-face {
  font-family: co-headline;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://cdn.intermediair.nl/fonts/CoHeadline-Light.woff) format('woff2');
}

@font-face {
  font-family: co-headline;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.intermediair.nl/fonts/CoHeadline-Regular.woff) format('woff2');
}

@font-face {
  font-family: co-headline;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://cdn.intermediair.nl/fonts/CoHeadline-Bold.woff) format('woff2');
}

@font-face {
  font-family: co-text;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://cdn.intermediair.nl/fonts/CoText-Light.woff) format('woff2');
}

@font-face {
  font-family: co-text;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.intermediair.nl/fonts/CoText-Regular.woff) format('woff2');
}

@font-face {
  font-family: co-text;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://cdn.intermediair.nl/fonts/CoText-Bold.woff) format('woff2');
}
