// Colors
$iol-black-light: #2d2d2d;
$iol-blue: #232d3d;
$iol-blue-grey: #3b4352;
$iol-green: #b2dbbf;
$iol-green-dark: #4ea66a;
$iol-green-darker: #69a37c;
$iol-yellow: #f4e956;
$iol-grey-dark: #6d6d6d;
$iol-grey: #7c878e;
$iol-grey-soft: #ced4da;
$iol-grey-light: #f3f3fb;
$iol-white: #fff;

// use names from styleguide
$steel-grey: $iol-grey;
$pale-teal: $iol-green;

$iol-success: #158639;
$iol-success-pale: #e7f2eb;
$iol-error: #ce001d;
$iol-error-pale: #fae5e8;
$iol-warning: #f4b856;
$iol-warning-pale: #fdf7ee;
$iol-info: #17a2b8;
$iol-info-pale: #e5e5f7;
$text-color: $iol-blue;

// Fonts
$font-family-default: co-text, Helvetica, Arial, sans-serif;
$font-family-heading: co-headline, Helvetica, Arial, sans-serif;
$text-regular: "Co Text Regular";
$text-light: "Co Text Light";
$headline-light: "Co Headline Light";
$headline-bold: "Co Headline Regular";
$font-family: $text-light, Arial, Helvetica, sans-serif;
$notification-font: ("Roboto Condensed", Helvetica, Arial, sans-serif);

// Paths
$project-images-folder: "/assets/iol/images/";
$project-icons-folder: "/assets/iol/icons/";
$project-licenses-folder: "/assets/iol/licenses/";
$project-operators-folder: "/assets/iol/operators/";

// temp hack
$dpes-seafoam-blue: $iol-blue;
$dpes-white: #fff;
$dpes-grey: #ccc;
