//-- nvb named theme colors
$darker-blue: #001f24;
$dark-blue: #0059a5;
$lighter-blue: #dce7ef;
$grey1: #333;
$grey2: #888;
$grey3: #f7f7f7;
$saltbox-grey: #6d6875;
$light-yellow: #fffce1;
$notification-yellow: #fbe05d;

$primary-action-blue: #0068b0;

// new color pallette
$midnight: #001f34;
$danube: #6299c9; // the same as old $light-blue

//need to discuss with design
$green: #3c763d;
$whitegrey: #ededed;

/* BOOTSTRAP DEFAULT COLORS */

$dpes-white:  #fff;
$dpes-black:  #000;
$dpes-red:    #d0011b;
$dpes-yellow: #f1c40f;
$dpes-green:  #1abc9c;
$dpes-teal:   #5bc0de;
$dpes-pink:   #ff5b77;
$dpes-purple: #7c348b; // old purple

$dpes-orange-hover:   #d77c1c;

$dpes-gray-dark:      #292b2c;
$dpes-gray:           #464a4c;
$dpes-gray-light:     #636c72;
$dpes-gray-lighter:   #eceeef;
$dpes-gray-lightest:  #f7f7f7;

// New design colors
$dpes-water:          #5ba0b3;
$dpes-blue:           #69b6cc;
$dpes-orange:         #df8d2f;
$dpes-orange-darker:  #cd7e23;
$dpes-orange-darkest: #bd7421;
$dpes-dark-grey:      #2e3233;

/* TODO review all variabiles above */

// Fonts
$primary-font: ("Palanquin", Helvetica, Arial, sans-serif);
$medium-font: ("Palanquin", Helvetica, Arial, sans-serif);
$notification-font: ("Roboto Condensed", Helvetica, Arial, sans-serif);

$project-images-folder: "/assets/nvb/images/";
$project-icons-folder: "/assets/nvb/icons/";
$project-licenses-folder: "/assets/nvb/licenses/";

// COMPONENTS
$error-background-color: $dpes-gray-lightest;
$error-background-image: none;
$error-body-background-color: transparent;
$error-body-background-image: none;
$error-body-background-image-lg: none;
$error-header-height: 60%;
$error-header-background-image: url("#{$project-images-folder}broken-comp.svg");
$error-header-background-image-lg: url("#{$project-images-folder}broken-comp-lg.svg");
$error-title-color: $dpes-water;
$error-main-display: block;
$error-description-font-size: 1.5rem;
$error-description-font-size-lg: 2rem;
$error-description-color: $dpes-water;
$error-description-width: 50%;
$error-footer-padding: 5rem;
$error-footer-background-color: $dpes-water;
$error-footer-color: #fff;

$profile-pdf-link: $dpes-water;
$profile-introduction-link: $dpes-blue;
$profile-introduction-link-hover: $dpes-blue;
$profile-introduction-text: $dpes-gray-dark;
$profile-timeline-default-backgroundcolor: $dpes-white;
$profile-timeline-current-color: $dpes-orange;
$profile-timeline-default-color: $dpes-blue;

$apply-card-link-color: $dpes-water;
$apply-cv-attachtment-text-color: $dpes-gray-dark;
$apply-cv-attachtment-date-text-color: $dpes-gray-light;
$apply-cv-attachtment-selected-text-color: $dpes-white;
$apply-cv-attachtment-selected-background-color: $dpes-water;
$apply-cv-attachtment-icon-download: url("#{$project-icons-folder}download.svg");
$apply-cv-attachtment-icon-download-selected: url("#{$project-icons-folder}download-white.svg");
$apply-cv-attachtment-icon-selected: url("#{$project-icons-folder}checked-white.svg");

$applied-title-desktop-font: 40px;
$applied-title-mobile-font: 30px;
$applied-title-color: $dpes-water;
$applied-title-marginbottom: 10px;
$applied-title-mobile-lineheight: 34px;
$applied-subtitle-mobile-font: 26px;
$applied-leadparagraph-desktop-font: 22px;
$applied-leadparagraph-mobile-font: 20px;
$applied-paragraph-desktop-font: 18px;
$applied-paragraph-mobile-font: 16px;
$applied-paragraph-fontfamily: inherit;
$applied-background-desktop-height: 255px;
$applied-background-mobile-height: 0px;
$applied-background-backgroundcolor: $dpes-water;

$onepageboarding-background-color: $dpes-gray-lightest;
$onepageboarding-card-background-color: $dpes-white;
$onepageboarding-link-color: $dpes-blue;
$onepageboarding-title-desktop-font: 2.5rem;
$onepageboarding-title-desktop-lineheight: 1.1;
$onepageboarding-title-mobile-font: 2rem;
$onepageboarding-title-mobile-lineheight: 36px;
$onepageboarding-title-paragraph-font: inherit;
$onepageboarding-title-paragraph-lineheight: inherit;

$migration-form-select-desktop-top: 43px;
$migration-form-select-mobile-top: 37px;

$toggle-before-background-color: $dpes-blue;
$toggle-after-background-color: $dpes-gray-light;

$spinner-background-color: $dpes-orange;

$card-shadow: #d3dbe7;

$consent-generic-links-color: $dpes-blue;
$consent-generic-texts-color: $dpes-gray-light;
$consent-generic-texts-fontfamily: inherit;
$consent-generic-texts-fontsize: 16px;
$consent-generic-texts-lineheight: inherit;

$boarding-link-color: $dpes-blue;
$boarding-email-paragraph-lineheight: inherit;
$boarding-background-color: $dpes-gray-lightest;
$boarding-card-background-color: $dpes-white;
$boarding-title-desktop-font: inherit;
$boarding-title-desktop-lineheight: inherit;
$boarding-title-mobile-font: inherit;
$boarding-title-mobile-lineheight: inherit;
$boarding-title-mobile-paragraph-font: inherit;
$boarding-title-mobile-paragraph-lineheight: inherit;
$boarding-label-font: inherit;
$boarding-label-marginbottom: inherit;
$boarding-secondarybutton-background: $dpes-white;
$boarding-secondarybutton-border: $dpes-orange-darker;
$boarding-secondarybutton-color: $dpes-orange-darker;

$readmore-collapsed-fadein-color: rgba(255, 255, 255, 0);
$readmore-collapsed-fadeout-color: $dpes-white;
$readmore-color: $dpes-blue;
