/*
*   From styleguide
*/

// Primary brand colour
$dpes-dusty-blue:     #5ba0b3;
$dpes-seafoam-blue:   #69b6cc;
$dpes-dull-orange:    #df8d2f;

// Other colours
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$dpes-brownish-orange:      #cd7e23;
$dpes-brownish-orange-two:  #bd7421;
$dpes-light-khaki:          #f2d6b6;
$dpes-mango:                #ff9320;
$dpes-darker-orange:        #be731d;
$dpes-darker-orange-translucent:  rgba(223, 141, 47, 0.75);
$dpes-pure-red: #e00;

// Greyshade / typography colours
$dpes-dark-grey:      #2e3233;
$dpes-gunmetal: #5c6466;
$dpes-cool-grey: #969c9e;
$dpes-silver: #BABEBF;
$dpes-silver-two: #D9DDDE;
$dpes-pale-grey: #edeff0;

// Colors needed for bootstrap
$dpes-white:  #fff;
$dpes-black:  #000;
$dpes-black-light: #030401;
$dpes-red:    #d0011b;
$dpes-yellow: #fbe05d;
$dpes-green:  #1abc9c;
$dpes-teal:   #5bc0de;
$dpes-pink:   #ff5b77;
$dpes-purple: #7c348b;
$dpes-gray-dark: #292b2c;
$dpes-gray: #464a4c;
$dpes-grey-soft: #ced4da;
$dpes-gray-light: #636c72;
$dpes-gray-light2: #9b9b9b;
$dpes-gray-lighter: #eceeef;
$dpes-gray-lightest: #f7f7f7;
$dpes-gray-background: #e9e9e9;
$text-color: $dpes-dark-grey;

// Fonts
$font-family: Palanquin, Arial, Helvetica, sans-serif;
$font-family-default: $font-family;
$font-family-heading: $font-family;
$primary-font: ("Palanquin", Helvetica, Arial, sans-serif);
$medium-font: ("Palanquin", Helvetica, Arial, sans-serif);
$notification-font: ("Roboto Condensed", Helvetica, Arial, sans-serif);

// Paths
$project-images-folder: "/assets/nvb/images/";
$project-icons-folder: "/assets/nvb/icons/";
$project-licenses-folder: "/assets/nvb/licenses/";
$project-operators-folder: "/assets/nvb/operators/";
